*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

.navbar {
  background-color: rgba(0,0,0,);
  height: 80px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 1.5rem;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo{
  background-color: #fff;
  color: #7fb7cf;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
}

body{
    color: #fff;
    font-family: 'Nunito Semibold';
    text-align: left;
}

#content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, minmax(150px, auto));
    /* grid-auto-rows: minmax(200px, auto); */
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}

#content div{
    background: #ffffff;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content div:nth-child(even){
    background: #3bbced;
}

@media screen and (max-width: 512px) {
    .content {
        grid-template-columns: 1fr;
    }
}

.one {
  grid-column: 1 / 3;
  background-image: url(img/testing.jpg);
}

.two {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background-image: url(images/ducks.jpg);
}

.three {
  grid-column: 5 / 7;
  background-image: url(images/ducks.jpg);
}

.four {
  grid-column: 1 / 3;
  background-image: url(images/ducks.jpg);
}

.five {
  grid-column: 5 / 7;
}