* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo {
  background-color: #fff;
  color: #3bbced;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
}

body {
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: left;
  padding-bottom: 5px;
}

#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, minmax(150px, auto));
  /* grid-auto-rows: minmax(200px, auto); */
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

#content div {
  background: #3bbced;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content div:nth-child(even) {
  background: #3bbced;
}

.one {
  grid-column: 1 / 3;
}

#content div:first-child {
  background-image: url(imgone.jpg);
  background-size: cover;
}

.two {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 50px;
}

.three {
  grid-column: 5 / 7;
}

.four {
  grid-column: 1 / 3;
  grid-row: 2 / 6;
}

label {
  color: #fff;
  margin-top: 10px;
  display: block;
}

input {
  height: 30px;
  width: 65%;
  margin-top: 5px;
  border-radius: 5px;
  border: 0;
}

select {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0;
}

.four>h2 {
  margin-top: 40px;
  font-size: 20px;
}

.five {
  grid-column: 5 / 7;
}

#content div:nth-child(5) {
  background-image: url(imgthree.jpg);
  background-size: cover;
}

.six {
  grid-column: 3 / 5;
}

.seven {
  grid-column: 5 / 7;
  grid-row: 3 / 6;
}

.modal-header>h2 {
  margin-top: 40px;
  font-size: 20px;
}

.container {
  margin: 5px auto;
  color: #fff;
  text-align: center;
}

#time {
  font-size: 50px;
  font-weight: bold;
}

button {
  width: 100px;
  height: 30px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
  text-align: center;
}

button:hover {
  background: #fff;
  color: #3bbced;
  font-weight: 800;
  text-transform: capitalize;
}

.eight {
  grid-column: 3 / 5;
}

#content div:nth-child(8) {
  background-image: url(imgtwo.jpg);
  background-size: cover;
}

three > body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 5px 15px;
  position: relative;
  margin: 20px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h2 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}


@media screen and (max-width: 512px) {
  .content {
    grid-template-columns: 1fr;
  }
}