*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', serif;
}

.navbar {
  background-color: rgba(0,0,0,);
  height: 80px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 1.5rem;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo{
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
}

body{
    color: #fff;
    font-family: 'Nunito Semibold';
    text-align: left;
}

#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, minmax(200px, auto));
    /* grid-auto-rows: minmax(200px, auto); */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}

#content div{
    background: #3bbced;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content div:nth-child(even){
    background: #777;
}