* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
}

#navbar__logo {
  background-color: #fff;
  color: #3bbced;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
}

body {
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: left;
  padding-bottom: 5px;
}

#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, minmax(150px, auto));
  /* grid-auto-rows: minmax(200px, auto); */
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

#content div {
  background: #3bbced;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content div:nth-child(even) {
  background: #3bbced;
}

.one {
  grid-column: 1 / 3;
}

#content div:first-child {
  background-image: url(imgone.jpg);
  background-size: cover;
}

.two {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 50px;
}

.three {
  grid-column: 5 / 7;
}

.four {
  grid-column: 1 / 3;
  grid-row: 2 / 6;
}

label {
  color: #fff;
  margin-top: 10px;
  display: block;
}

input {
  height: 30px;
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0;
}

select {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0;
}

.four>h2 {
  margin-top: 20px;
  font-size: 20px;
}

.five {
  grid-column: 5 / 7;
}

#content div:nth-child(5) {
  background-image: url(imgthree.jpg);
  background-size: cover;
}

.six {
  grid-column: 3 / 5;
}

.seven {
  grid-column: 5 / 7;
  grid-row: 3 / 6;
}

.modal-header>h2 {
  margin-top: 50px;
  font-size: 20px;
}

.container {
  margin: 5px auto;
  color: #fff;
  text-align: center;
}

#seconds,
#tens {
  font-size: 50px;
  font-weight: bold;
}

button {
  width: 100px;
  height: 30px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
  text-align: center;
}

button:hover {
  background: #fff;
  color: #3bbced;
  font-weight: 800;
  text-transform: capitalize;
}

.eight {
  grid-column: 3 / 5;
}

#content div:nth-child(8) {
  background-image: url(imgtwo.jpg);
  background-size: cover;
}

@media screen and (max-width: 512px) {
  .content {
    grid-template-columns: 1fr;
  }
}